{% extends "bootstrap/base.html" %}

{% block title %}Home Page{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/check">Flights</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page_content">
        <div class="jumbotron">
            <h1>The world becomes better with your existence.</h1>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a></p>
        </div>
        <img src="https://get.wallhere.com/photo/Microsoft-Flight-Simulator-planes-1966431.jpg" class="img-responsive">
    </div>
</div>
{% endblock %}